*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box; }

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #2948ff;
  --color-primary-dark: #111e6d;
  --color-primary-tint: #0025ff;
  --color-secondary: #e6c900;
  --color-secondary-dark: #b39c00;
  --color-secondary-tint: #fada00;
  --color-grey-dark: #a1a1a1;
  --color-grey-light-1: #ededed;
  --color-grey-light-2: #d4d4d4; }

.wrapper {
  max-width: 140rem;
  display: grid;
  grid-template-columns: 1fr repeat(10, 1fr) 1fr;
  grid-template-rows: [header-start] 10rem [header-end] 7rem [hero-start] repeat(2, minmax(6rem, 1fr)) [hero-end] 3rem [testimonial-start] minmax(10rem, 1fr) 0.5fr [testimonial-end] 3rem [about-start] repeat(1, 1fr) [about-end];
  grid-gap: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr repeat(10, 1fr) 1fr;
      grid-template-rows: [header-start] 10rem [header-end] 7rem [hero-start] 35rem [hero-end] [testimonial-start] minmax(10rem, 1fr) 0.5fr [testimonial-end] 3rem [about-start] repeat(1, 1fr) [about-end]; } }

.header {
  grid-column: 3 / 11;
  grid-row: header-start / header-end; }
  @media only screen and (max-width: 37.5em) {
    .header {
      grid-column: 1 / -1; } }

.section-hero {
  grid-column: 3 / span 4;
  grid-row: hero-start/ hero-end;
  align-self: center; }
  @media only screen and (min-width: 68.75em) {
    .section-hero {
      grid-column: 3 / span 4;
      grid-row: hero-start/ hero-end;
      align-self: flex-start; } }
  @media only screen and (max-width: 56.25em) {
    .section-hero {
      grid-column: 3 / 11;
      grid-row: 3 / 4; } }

.section-illustration {
  grid-column: 7 / span 4;
  grid-row: hero-start/hero-end;
  display: flex;
  justify-content: center;
  background-image: url("https://i.imgur.com/dHr5YEu.png");
  clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0 87%); }
  @media only screen and (max-width: 56.25em) {
    .section-illustration {
      grid-column: 3 / 11;
      grid-row: 4 / 5; } }
  @media only screen and (max-width: 37.5em) {
    .section-illustration {
      grid-column: 1 / -1; } }

.section-testimonials {
  grid-column: 3 / 11;
  grid-row: testimonial-start / testimonial-end;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }
  @media only screen and (max-width: 56.25em) {
    .section-testimonials {
      grid-row: 6 / 8; } }

.section-about {
  background-image: url("https://i.imgur.com/dHr5YEu.png");
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 100%);
  grid-row: about-start / about-end;
  grid-column: 3 / 11;
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 68.75em) {
    .section-about {
      grid-row: 9 / 11; } }
  @media only screen and (min-width: 56.25em) {
    .section-about {
      grid-row: 9 / 11; } }
  @media only screen and (max-width: 37.5em) {
    .section-about {
      grid-column: 1 / -1; } }

.header-navbar {
  display: grid;
  height: 100%;
  grid-template-columns: 10rem 0.4fr repeat(3, 1fr) 8rem 1.3fr;
  align-items: center;
  grid-template-rows: repeat(4, 1fr); }
  @media only screen and (max-width: 56.25em) {
    .header-navbar {
      grid-template-columns: 1fr repeat(3, 1fr) 1fr 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .header-navbar {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr) 2fr; } }
  .header-navbar__searchbar {
    grid-row: 4 / 5;
    grid-column: 3 / 7;
    margin: 2rem 0;
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 68.75em) {
      .header-navbar__searchbar {
        margin: 2rem 0;
        grid-row: 3 / 4; } }
    @media only screen and (max-width: 56.25em) {
      .header-navbar__searchbar {
        grid-column: 1 / -1; } }
    @media only screen and (max-width: 48.75em) {
      .header-navbar__searchbar {
        margin-top: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .header-navbar__searchbar {
        grid-row: 4 / 5;
        grid-column: 2 / 6;
        margin-top: 8rem; } }
    .header-navbar__searchbar input {
      flex: 0 0 80%;
      font-family: "Poppins", sans-serif;
      border: none;
      background-color: var(--color-grey-light-1);
      border-radius: 5px;
      width: 75%;
      transition: all 0.3s;
      margin-right: 2rem; }
      .header-navbar__searchbar input:focus {
        outline: none;
        width: 85%; }
      .header-navbar__searchbar input::placeholder, .header-navbar__searchbar input::-webkit-input-placeholder {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        text-align: center;
        color: var(--color-grey-dark); }
    .header-navbar__searchbar__btn {
      flex: 1; }
  .header-navbar__link, .header-navbar__link:active {
    color: var(--color-black);
    text-decoration: none; }
  .header-navbar__btn {
    grid-column: 7 / 8;
    grid-row: 2 / 3; }
    @media only screen and (max-width: 68.75em) {
      .header-navbar__btn {
        font-size: 1.5rem;
        font-weight: bold;
        align-self: center;
        grid-row: 4 / 5;
        grid-column: 4 / 5;
        justify-self: center;
        margin: 3rem 0; } }
    @media only screen and (max-width: 56.25em) {
      .header-navbar__btn {
        font-size: 1.4rem;
        font-weight: bold;
        align-self: center;
        grid-row: 4 / 5;
        grid-column: 3 / 4;
        justify-self: center; } }
    @media only screen and (max-width: 48.75em) {
      .header-navbar__btn {
        margin-top: 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .header-navbar__btn {
        grid-row: 2/3;
        grid-column: 5/7;
        margin: 0 1.3rem; } }
  .header-navbar__heading-1 {
    grid-column: 1 / 3;
    grid-row: 2/3;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--color-primary); }
    @media only screen and (max-width: 56.25em) {
      .header-navbar__heading-1 {
        grid-column: 1 / 3;
        margin: 1rem 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .header-navbar__heading-1 {
        margin: 0 1.5rem;
        font-size: 3rem; } }
  .header-navbar__items {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    display: flex;
    list-style: none;
    align-items: center; }
    @media only screen and (max-width: 68.75em) {
      .header-navbar__items {
        grid-column: 3 / 8; } }
    @media only screen and (max-width: 56.25em) {
      .header-navbar__items {
        grid-column: 3 / 6; } }
    @media only screen and (max-width: 37.5em) {
      .header-navbar__items {
        grid-column: 2 / 5;
        grid-row: 3 / 4;
        margin-top: 5rem;
        justify-content: center; } }
    @media only screen and (max-width: 26.56em) {
      .header-navbar__items {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        padding: 0;
        justify-content: center; } }
    @media only screen and (max-width: 25em) {
      .header-navbar__items {
        grid-column: 1 /-1;
        padding: 0;
        justify-content: center; } }
  .header-navbar__item {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    height: 55%;
    border-radius: 20px;
    padding: 1rem 2rem;
    align-items: center;
    transition: all 0.45s; }
    .header-navbar__item:not(:last-child) {
      margin-right: 1.5rem; }
    .header-navbar__item:hover {
      background-color: #ededed; }
    @media only screen and (max-width: 56.25em) {
      .header-navbar__item {
        padding: 0.5rem 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .header-navbar__item:not(:last-child) {
        margin-right: 1.5rem; } }

.illustration-box {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .illustration-box {
      justify-content: center; } }
  .illustration-box__img {
    width: 85%; }
    @media only screen and (max-width: 68.75em) {
      .illustration-box__img {
        height: 75%; } }
    @media only screen and (max-width: 56.25em) {
      .illustration-box__img {
        width: 75%; } }

.hero {
  width: 80%; }
  @media only screen and (max-width: 56.25em) {
    .hero {
      width: 100%; } }
  @media only screen and (max-width: 68.75em) {
    .hero {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; } }
  .hero__heading {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    font-weight: bold;
    margin-top: -1.5rem; }
    @media only screen and (max-width: 68.75em) {
      .hero__heading {
        text-align: center;
        font-size: 4rem; } }
  .hero__sub-heading {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: var(--color-grey-dark); }
    @media only screen and (max-width: 56.25em) {
      .hero__sub-heading {
        text-align: center; } }
  .hero__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 0.3rem;
    margin-bottom: -0.2rem;
    filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(331deg) brightness(110%) contrast(110%); }
  .hero__btn-box {
    display: flex;
    justify-content: center; }

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-gap: 5rem;
  justify-items: center; }
  @media only screen and (max-width: 56.25em) {
    .testimonial-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      grid-template-rows: repeat(2, minmax(23rem, 1fr)); } }
  .testimonial-cards__img-box {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center; }
  .testimonial-cards__info {
    grid-column: 1 / -1;
    grid-row: 2 / 5;
    background-color: var(--color-primary);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .testimonial-cards__rating {
    grid-row: 4 / 5;
    grid-column: 2 /3;
    margin-right: 0.5rem; }
    .testimonial-cards__rating img {
      color: var(--color-secondary);
      width: 10%; }
  .testimonial-cards__name {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    color: var(--color-white);
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    justify-self: flex-start;
    margin-left: 2rem; }
  .testimonial-cards__text {
    font-family: "Poppins", sans-serif;
    grid-column: 1 / -1;
    grid-row: 2 / 4;
    font-size: 1.6rem;
    align-self: center;
    text-align: center;
    color: var(--color-white);
    position: relative; }
    .testimonial-cards__text p {
      align-self: flex-end;
      position: relative;
      z-index: 9;
      font-family: "Poppins", sans-serif;
      padding: 0 1.1rem;
      font-size: 1.6rem;
      line-height: 1.7;
      font-style: italic; }
    .testimonial-cards__text::before {
      content: "\0201C";
      font-size: 20rem;
      color: rgba(17, 30, 109, 0.35);
      position: absolute;
      top: -4rem;
      left: 0;
      z-index: 1; }
  .testimonial-cards__card {
    height: 26rem;
    width: 22rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-radius: 2rem;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    align-self: center;
    transition: all 0.3s; }
    @media only screen and (max-width: 76.5em) {
      .testimonial-cards__card--mid {
        grid-column: 1 / -1;
        justify-self: center; } }
    .testimonial-cards__card:hover {
      transform: translateY(2px);
      box-shadow: 0 2rem 2.5rem rgba(0, 0, 0, 0.3); }
  .testimonial-cards__img {
    grid-column: 1/ -1;
    grid-row: 1 / -1;
    width: 40%;
    margin-bottom: 0.8rem; }

.btn {
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.1rem 2rem;
  transition: all 0.3s; }
  .btn:active {
    transform: translateY(2px); }
  .btn--yellow {
    font-size: 1.8rem;
    color: var(--color-white);
    background-color: var(--color-secondary);
    box-shadow: 0 3.5px var(--color-secondary-dark), 0 1.1rem 1.5rem rgba(0, 0, 0, 0.25); }
    .btn--yellow:hover {
      background-color: var(--color-secondary-tint); }
  .btn--blue {
    font-size: 1.5rem;
    font-weight: bold;
    width: 13rem;
    height: 4rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    box-shadow: 0 3.5px var(--color-primary-dark), 0 1.1rem 1.5rem rgba(0, 0, 0, 0.25);
    transition: all 0.3s; }
    .btn--blue:hover {
      background-color: var(--color-primary-tint); }

.about-textbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 3rem; }
  @media only screen and (max-width: 68.75em) {
    .about-textbox {
      display: flex;
      flex-direction: column;
      justify-content: space-around; } }
  .about-textbox__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30rem;
    margin: 4.5rem 3rem; }
  .about-textbox__text {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    color: var(--color-white);
    text-align: center;
    line-height: 1.8; }
  .about-textbox__svg {
    height: 12rem;
    width: 12rem; }
    @media only screen and (max-width: 68.75em) {
      .about-textbox__svg {
        height: 0;
        width: 0; } }
  .about-textbox__icon {
    height: 1.75rem;
    width: 1.75rem;
    filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(331deg) brightness(110%) contrast(110%); }
