:root {
    --color-white: #ffffff;
    --color-black: #000000;

    --color-primary: #2948ff;
    --color-primary-dark: #111e6d;
    --color-primary-tint: #0025ff;

    --color-secondary: #e6c900;
    --color-secondary-dark: #b39c00;
    --color-secondary-tint: #fada00;

    --color-grey-dark: #a1a1a1;
    --color-grey-light-1: #ededed;
}
// Breakpoints
$bg-largest: 68.75em; // 1100px
$bg-large: 56.25em; // 900px
$bg-medium: 48.75em; // 780px

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    // 10 / 16 = 0.625 => 62.5% = 1rem
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
}

.wrapper {
    max-width: 160rem;
    display: grid;
    grid-template-columns: 1fr repeat(10, 1fr) 1fr;
    grid-template-rows:
        [header-start] 10rem [header-end] 7rem [hero-start] repeat(
            2,
            minmax(6rem, 1fr)
        ) [hero-end] 3rem [testimonial-start] 0.5fr repeat(1, minmax(10rem, 1fr))
        0.5fr [testimonial-end about-start] repeat(1, 1fr) [about-end];
    grid-gap: 1rem;
    @media only screen and (max-width: $bg-large) {
        display: grid;
        grid-template-columns: 1fr repeat(10, 1fr) 1fr;
        grid-template-rows:
            [header-start] 10rem [header-end] 7rem [hero-start] 35rem [hero-end] [testimonial-start]0.5fr repeat(
                1,
                minmax(10rem, 1fr)
            )
            0.5fr [testimonial-end];
    }
}

// Layout
.header {
    grid-column: 3 / 11;
    grid-row: header-start / header-end;
}

.section-hero {
    grid-column: 3 / span 4;
    grid-row: 3 / 4;
    @media only screen and (max-width: $bg-large) {
        grid-column: 3 / 11;
        grid-row: 3 / 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media only screen and (min-width: $bg-largest) {
        height: 30rem;
    }
    @media only screen and (min-width: $bg-large) {
        height: 30rem;
    }
}

.section-illustration {
    grid-column: 7 / span 4;
    grid-row: hero-start/hero-end;
    display: flex;
    justify-content: center;
    background-image: url("https://i.imgur.com/dHr5YEu.png");
    clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
    @media only screen and (max-width: $bg-large) {
        grid-column: 3 / 11;
        grid-row: 4 / 5;
    }
}

.section-testimonials {
    grid-column: 3 / 11;
    grid-row: testimonial-start / testimonial-end;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    @media only screen and (max-width: $bg-large) {
        grid-row: 6 / 8;
    }
}

.section-about {
    background-image: url("https://i.imgur.com/dHr5YEu.png");
    clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
    grid-row: 8 / 9;
    grid-column: 3 / 11;
    display: flex;
    align-items: center;
    @media only screen and (min-width: $bg-largest) {
        grid-row: 9 / 11;
    }
    @media only screen and (min-width: $bg-large) {
        grid-row: 9 / 11;
    }
}

// .section-footer {
//   background-color: red;
//   grid-column: 3 / 11;
//   grid-row: footer-start / footer-end;
// }

// Components
.btn {
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.1rem 2rem;
    transition: all 0.3s;
    &:active {
        transform: translateY(2px);
    }
    &--yellow {
        font-size: 1.8rem;
        color: var(--color-white);
        background-color: var(--color-secondary);
        box-shadow: 0 3.5px var(--color-secondary-dark), 0 1.1rem 1.5rem rgba(0, 0, 0, 0.25);
        &:hover {
            background-color: var(--color-secondary-tint);
        }
    }
    &--blue {
        font-size: 1.5rem;
        font-weight: bold;
        width: 13rem;
        height: 4rem;
        color: var(--color-white);
        background-color: var(--color-primary);
        box-shadow: 0 3.5px var(--color-primary-dark), 0 1.1rem 1.5rem rgba(0, 0, 0, 0.25);
        transition: all 0.3s;
        &:hover {
            background-color: var(--color-primary-tint);
        }
    }
}

.header-navbar {
    display: grid;
    height: 100%;
    grid-template-columns: 10rem 0.4fr repeat(3, 1fr) 8rem 1.3fr;
    align-items: center;
    grid-template-rows: repeat(3, 1fr);
    @media only screen and (max-width: $bg-large) {
        grid-template-columns: 1fr repeat(3, 1fr) 1fr 2rem;
    }

    &__btn {
        grid-column: 7 / 8;
        grid-row: 2 / 3;
        @media only screen and (max-width: $bg-largest) {
            font-size: 1.5rem;
            font-weight: bold;
            align-self: center;
            grid-row: 3 / 4;
            grid-column: 4 / 5;
            justify-self: center;
            margin-top: 3rem;
        }
        @media only screen and (max-width: $bg-large) {
            font-size: 1.4rem;
            font-weight: bold;
            align-self: center;
            grid-row: 3 / 4;
            grid-column: 3 / 4;
            justify-self: center;
        }
    }
    &__heading-1 {
        grid-column: 1 / 3;
        grid-row: 2/3;
        width: 100%;
        font-family: "Poppins", sans-serif;
        font-size: 2.4rem;
        font-weight: bold;
        color: var(--color-primary);
        @media only screen and (max-width: $bg-large) {
            grid-column: 1 / 2;
        }
    }

    &__items {
        grid-column: 3 / 6;
        grid-row: 2 / 3;
        height: 100%;
        width: 100%;
        font-family: "Poppins", sans-serif;
        display: flex;
        list-style: none;
        align-items: center;
        @media only screen and (max-width: $bg-largest) {
            grid-column: 4 / 8;
        }
        @media only screen and (max-width: $bg-large) {
            grid-column: 3 / 6;
        }
    }
    &__item {
        display: flex;
        font-family: "Poppins", sans-serif;
        font-size: 1.7rem;
        font-weight: bold;
        height: 55%;
        border-radius: 20px;
        padding: 1rem 2rem;
        align-items: center;
        transition: all 0.45s;
        &:not(:last-child) {
            margin-right: 1rem;
        }
        &:hover {
            background-color: #ededed;
        }
        @media only screen and (max-width: $bg-large) {
            padding: 0.5rem 1rem;
            //   &:not(:last-child){
            //   margin-right: .5rem;
            // }
        }
    }

    &__link,
    &__link:active {
        text-decoration: none;
        color: var(--color-black);
    }
}

.hero {
    width: 70%;
    @media only screen and (max-width: $bg-large) {
        width: 100%;
    }
    &__heading {
        text-align: left;
        font-family: "Poppins", sans-serif;
        font-size: 5rem;
        font-weight: bold;
        margin-top: -1.5rem;
        @media only screen and (max-width: $bg-large) {
            text-align: center;
        }
    }
    &__sub-heading {
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
        color: var(--color-grey-dark);
        @media only screen and (max-width: $bg-large) {
            text-align: center;
        }
    }
    &__icon {
        height: 1.75rem;
        width: 1.75rem;
        margin-right: 0.3rem;
        margin-bottom: -0.2rem;
        filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(331deg) brightness(110%) contrast(110%);
    }
    &__btn-box {
        display: flex;
        // margin-top:-4rem;
        justify-content: center;
    }
}

.illustration-box {
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: $bg-large) {
        justify-content: center;
    }
    &__img {
        width: 85%;
        @media only screen and (max-width: $bg-largest) {
            height: 75%;
        }
        @media only screen and (max-width: $bg-large) {
            width: 75%;
        }
    }
}

.testimonial-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    grid-gap: 5rem;
    justify-items: center;

    @media only screen and (max-width: $bg-large) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-template-rows: repeat(2, minmax(23rem, 1fr));
    }
    &__img-box {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
    }

    &__name {
        font-family: "Poppins", sans-serif;
        font-size: 1.8rem;
        color: var(--color-white);
        grid-column: 1 / -1;
        grid-row: 2 / span 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: var(--color-primary);
        -webkit-clip-path: polygon(0 0, 100% 36%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 36%, 100% 100%, 0 100%);
        background-clip: border-box;
    }

    &__text {
        font-family: "Poppins", sans-serif;
        grid-column: 1 / -1;
        grid-row: 3 / 5;
        font-size: 1.6rem;
        text-align: center;
        color: var(--color-white);
        background-color: var(--color-primary);
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        position: relative;
        p {
            align-self: center;
            position: relative;
            z-index: 9;
            font-family: "Poppins", sans-serif;
            padding: 0 1.1rem;
            font-size: 1.6rem;
            font-style: italic;
        }
        &::before {
            content: "\0201C";
            font-size: 20rem;
            color: rgba(17, 30, 109, 0.35);
            position: absolute;
            top: -5rem;
            left: 0;
            z-index: 1;
        }
    }

    &__card {
        height: 26rem;
        width: 22rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        border-radius: 2rem;
        box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);
        cursor: pointer;
        align-self: center;
        transition: all 0.3s;
        &--mid {
            @media only screen and (max-width: 1224px) {
                grid-column: 1 / -1;
                justify-self: center;
            }
        }
        &:hover {
            transform: translateY(2px);
            box-shadow: 0 2rem 2.5rem rgba(0, 0, 0, 0.3);
        }
    }

    &__img {
        grid-column: 1/ -1;
        grid-row: 1 / -1;
        width: 40%;
        margin-bottom: 0.8rem;
    }
}

// About
.about-textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 3rem;
    &__text {
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        color: var(--color-white);
        text-align: center;
    }
}
