// About
.about-textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 3rem;
    &__text {
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        color: var(--color-white);
        text-align: center;
    }
}
